@using ProjectFirma.Web.Views.PriorityArea

@inherits MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>Priority Area</strong></div>
    <div class="col-xs-8">@ViewDataTyped.PriorityAreaDetailLink</div>
</div>
