# /Batch/
/Batch

# /Build/
/Build

# /Source/
/Source/.vs/
/Source/Corral.v12.suo
/Source/NuGetPackages
/Source/WADNRForestHealth.sln.DotSettings
/Source/WADNRForestHealth.sln.DotSettings.user
/Source/**/bin/
/Source/**/obj/

# /Source/LtInfo.Common/
/Source/LtInfo.Common/LtInfo.Common.csproj.user
/Source/LtInfo.Common/LtInfo.Common.csproj.DotSettings.user

# /Source/LtInfo.Common/HealthMonitor/

# /Source/ProjectFirma.Web/
/Source/ProjectFirma.Web/*.user
/Source/ProjectFirma.Web/Web.config
/Database/SourceExcelFiles/~$7_19_18_Grand_Master_thru_May_2018_charges_cr_MJ.xlsx
/.vs/wadnrforesthealth/v16/*.suo
