USE [WADNRForestHealthDB]
GO
/****** Object:  Table [dbo].[tmpGrantsFlatFile]    Script Date: 12/20/2018 6:02:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('dbo.[tmpGrantsFlatFile]', 'U') IS NOT NULL 
  DROP TABLE dbo.[tmpGrantsFlatFile]; 

CREATE TABLE [dbo].[tmpGrantsFlatFile](
	[Grant_Number] [nvarchar](50) NOT NULL,
	[CFDA] [float] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Program_Manager] [nvarchar](50) NULL,
	[Prog_Index] [nvarchar](50) NULL,
	[Project_Codes] [nvarchar](50) NULL,
	[Funding_Increase] [nvarchar](1) NULL,
	[Federal_Fund_Code] [nvarchar](1) NULL,
	[Funds_Awarded] [float] NULL,
	[Matching_Funds] [int] NULL,
	[Grant_Total] [int] NULL,
	[DNR_Match_Amount] [nvarchar](50) NULL,
	[Non_DNR_Other_Match] [nvarchar](50) NULL,
	[Landowner_Match] [nvarchar](50) NULL,
	[Match_PI_Alpha_Code] [nvarchar](50) NULL,
	[Expend_Method] [nvarchar](50) NULL,
	[Start_Date] [datetime2](7) NULL,
	[End_Date] [datetime2](7) NULL,
	[Notes] [nvarchar](300) NULL
) ON [PRIMARY]
GO
