USE [WADNRForestHealthDB]
GO
/****** Object:  Table [dbo].[tmpGrantAllocationsFlatFile]    Script Date: 12/20/2018 5:02:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF OBJECT_ID('dbo.[tmpGrantAllocationsFlatFile]', 'U') IS NOT NULL 
  DROP TABLE dbo.[tmpGrantAllocationsFlatFile]; 

CREATE TABLE [dbo].[tmpGrantAllocationsFlatFile](
	[AREA] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[FH_FP_WD_LG] [nvarchar](50) NULL,
	[A_B_C_D] [nvarchar](50) NULL,
	[FED_APPROP] [nvarchar](50) NULL,
	[CFDA] [float] NULL,
	[Status] [nvarchar](100) NULL,
	[Funding_Source_or_Grant_Number] [nvarchar](50) NULL,
	[Start_Date] [datetime2](7) NULL,
	[End_Date] [datetime2](7) NULL,
	[Program_Index_PI] [nvarchar](50) NULL,
	[Grant_Project_Name] [nvarchar](100) NULL,
	[Total_Award] [nvarchar](50) NULL,
	[13_15_BN_Spent] [nvarchar](50) NULL,
	[15_17_BN_Spent] [nvarchar](50) NULL,
	[Total_spent_as_of_6_30_17_per_270_BNs_13_15_15_17_] [nvarchar](50) NULL,
	[17_19_BN_Spent_as_of_3_31_2018] [nvarchar](50) NULL,
	[Spent_over_all_B_N] [nvarchar](50) NULL,
	[Current_Balance] [nvarchar](50) NULL,
	[Spent_to_date_X_check] [nvarchar](50) NULL,
	[Set_Aside_for_Future_BN] [nvarchar](50) NULL,
	[Current_Balance_minus_setaside_for_future_B_N] [nvarchar](50) NULL,
	[Personnel] [nvarchar](50) NULL,
	[Fringe_Benefits] [nvarchar](50) NULL,
	[Travel] [nvarchar](50) NULL,
	[Supplies] [nvarchar](50) NULL,
	[Contractual] [nvarchar](50) NULL,
	[Indirect] [nvarchar](50) NULL,
	[Actual_To_Date] [nvarchar](50) NULL,
	[Total_across] [nvarchar](50) NULL,
	[Total] [nvarchar](50) NULL,
	[Match_Committed] [nvarchar](50) NULL,
	[Match_DNR] [nvarchar](50) NULL,
	[Match_Other] [nvarchar](50) NULL,
	[Match_Match] [nvarchar](50) NULL,
	[Notes] [nvarchar](50) NULL
) ON [PRIMARY]
GO
