IF OBJECT_ID(N'dbo.tmpAgreement', N'U') IS NOT NULL
BEGIN
  drop table [dbo].[tmpAgreement]
END


USE [WADNRForestHealthDB]
GO
/****** Object:  Table [dbo].[tmpAgreement]    Script Date: 1/23/2019 3:23:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpAgreement]
(
   TmpAgreementID int identity(1,1) not null,
   [AgreementType] [nvarchar](50) NULL,
   [AgreementNumber] [nvarchar](50) NULL,
   [SourceOfFunding] [nvarchar](100) NULL,
   [AgencyEntity] [nvarchar](100) NULL,
   [PM] [nvarchar](50) NULL,
   [ProgramIndexProjectCode] [nvarchar](50) NULL,
   [StartDate] [nvarchar](50) NULL,
   [EndDate] [nvarchar](50) NULL,
   [AgreementAmount] [nvarchar](50) NULL,
   [Expended] [nvarchar](50) NULL,
   [Balance] [nvarchar](50) NULL,
   [INCLUDED_IN_BALANCE_INV_AMT_SUBMITTED_ON_7_12_OR_AFTER] [nvarchar](1) NULL,
   [Region_Div] [nvarchar](50) NULL,
   [ACTIVITY] [nvarchar](50) NULL,
   [1ST_BILL_DUE_ON] [nvarchar](50) NULL,
   [Notes] [nvarchar](150) NULL,
   [PARTNER_CONTACT] [nvarchar](50) NULL
) ON [PRIMARY]

ALTER TABLE [dbo].[tmpAgreement] ADD  CONSTRAINT [PK_tmpAgreement_TmpAgreementID] PRIMARY KEY CLUSTERED 
(
    TmpAgreementID ASC
) ON [PRIMARY]
GO



GO
INSERT [dbo].[tmpAgreement] ([AgreementType], [AgreementNumber], [SourceOfFunding], [AgencyEntity], [PM], [ProgramIndexProjectCode], [StartDate], [EndDate], [AgreementAmount], [Expended], [Balance], [INCLUDED_IN_BALANCE_INV_AMT_SUBMITTED_ON_7_12_OR_AFTER], [Region_Div], [ACTIVITY], [1ST_BILL_DUE_ON], [Notes], [PARTNER_CONTACT]) VALUES (N'CS', N'93-095596', N'2013-DG-11062752-005 NFP', N'UNLIMITED LAND SERVICES', N'237', N'GBE', N'5/14/2017', N'8/8/2018', N'$39,264', N'$0', N'$39,264', NULL, N'NE', N'FP', NULL, N'FURPORT FUELS REDUCTION', N'wildfirehomeprotection@gmail.com')
GO
INSERT [dbo].[tmpAgreement] ([AgreementType], [AgreementNumber], [SourceOfFunding], [AgencyEntity], [PM], [ProgramIndexProjectCode], [StartDate], [EndDate], [AgreementAmount], [Expended], [Balance], [INCLUDED_IN_BALANCE_INV_AMT_SUBMITTED_ON_7_12_OR_AFTER], [Region_Div], [ACTIVITY], [1ST_BILL_DUE_ON], [Notes], [PARTNER_CONTACT]) VALUES (N'CS', N'93-095597', N'2013-DG-11062752-005 NFP', N'WILDFIRE HOME PROTECTION', N'237', N'GBC', N'5/14/2017', N'8/8/2018', N'$138,341', N'$131,905', N'$6,436', NULL, N'NE', N'FP', NULL, N'TWIN CREEKS FUELS REDUCTION', N'unimitedlandservices@gmail.com')
GO
