
CREATE TABLE [dbo].[tmpAgreementContact](
    [AgreementContactID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementNumber] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[Organization] [nvarchar](255) NULL,
	[AgreementRole] [nvarchar](255) NULL,
	[F8] [nvarchar](255) NULL,
	[F9] [nvarchar](255) NULL,
     CONSTRAINT [PK_tmpAgreementContact_AgreementContactID] PRIMARY KEY CLUSTERED 
(
	[AgreementContactID] ASC
)
) ON [PRIMARY]
GO
INSERT [dbo].[tmpAgreementContact] ([AgreementNumber], [Title], [FirstName], [LastName], [EmailAddress], [Organization], [AgreementRole], [F8], [F9]) VALUES (N'14-159', N'NW Weather Prediction Models and Products', N'Clifford F.', N'Mass', NULL, N'University of Washington', N'Project Coordinator', NULL, NULL)
INSERT [dbo].[tmpAgreementContact] ([AgreementNumber], [Title], [FirstName], [LastName], [EmailAddress], [Organization], [AgreementRole], [F8], [F9]) VALUES (N'14-159', N'NW Weather Prediction Models and Products', N'David A.', N'Grant', NULL, N'WADNR', N'Project Coordinator', NULL, NULL)
INSERT [dbo].[tmpAgreementContact] ([AgreementNumber], [Title], [FirstName], [LastName], [EmailAddress], [Organization], [AgreementRole], [F8], [F9]) VALUES (N'14-159', N'NW Weather Prediction Models and Products', N'Roberta L.', N'Mondares', NULL, N'University of Washington', N'Signer', NULL, NULL)
GO
