USE [WADNRForestHealthDB]
GO
/****** Object:  Table [dbo].[tmpAgreementContactsImportTemplate]    Script Date: 2/26/2019 10:49:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmpAgreementContactsImportTemplate]
(
	[tmpAgreementContactsImportTemplateID] [int] IDENTITY(1,1) NOT NULL,
	[AgreementNumber] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](1) NULL,
	[Organization] [nvarchar](100) NULL,
	[AgreementRole] [nvarchar](50) NOT NULL
) 
ON [PRIMARY]
GO

alter table dbo.[tmpAgreementContactsImportTemplate] 
add CONSTRAINT [PK_tmpAgreementContactsImportTemplate_tmpAgreementContactsImportTemplateID] PRIMARY KEY CLUSTERED 
(
    [tmpAgreementContactsImportTemplateID] ASC
)ON [PRIMARY]
GO

INSERT [dbo].[tmpAgreementContactsImportTemplate] ([AgreementNumber], [Title], [FirstName], [LastName], [EmailAddress], [Organization], [AgreementRole]) VALUES (N'14-159', N'NW Weather Prediction Models and Products', N'Clifford F.', N'Mass', NULL, N'University of Washington', N'Project Coordinator')
INSERT [dbo].[tmpAgreementContactsImportTemplate] ([AgreementNumber], [Title], [FirstName], [LastName], [EmailAddress], [Organization], [AgreementRole]) VALUES (N'14-159', N'NW Weather Prediction Models and Products', N'David A.', N'Grant', NULL, N'WADNR', N'Project Coordinator')
INSERT [dbo].[tmpAgreementContactsImportTemplate] ([AgreementNumber], [Title], [FirstName], [LastName], [EmailAddress], [Organization], [AgreementRole]) VALUES (N'14-159', N'NW Weather Prediction Models and Products', N'Roberta L.', N'Mondares', NULL, N'University of Washington', N'Signer')
GO
