--begin tran 


if object_id('tempdb.dbo.#mimeFileExtension') is not null drop table #mimeFileExtension

select '.323' as FileExtension, 'text/h323' as mimetype
into #mimeFileExtension
union all select '.aaf', 'application/octet-stream'
union all select '.aca', 'application/octet-stream'
union all select '.accdb', 'application/msaccess'
union all select '.accde', 'application/msaccess'
union all select '.accdt', 'application/msaccess'
union all select '.acx', 'application/internet-property-stream'
union all select '.afm', 'application/octet-stream'
union all select '.ai', 'application/postscript'
union all select '.aif', 'audio/x-aiff'
union all select '.aifc', 'audio/aiff'
union all select '.aiff', 'audio/aiff'
union all select '.application', 'application/x-ms-application'
union all select '.art', 'image/x-jg'
union all select '.asd', 'application/octet-stream'
union all select '.asf', 'video/x-ms-asf'
union all select '.asi', 'application/octet-stream'
union all select '.asm', 'text/plain'
union all select '.asr', 'video/x-ms-asf'
union all select '.asx', 'video/x-ms-asf'
union all select '.atom', 'application/atom+xml'
union all select '.au', 'audio/basic'
union all select '.avi', 'video/x-msvideo'
union all select '.axs', 'application/olescript'
union all select '.bas', 'text/plain'
union all select '.bcpio', 'application/x-bcpio'
union all select '.bin', 'application/octet-stream'
union all select '.bmp', 'image/bmp'
union all select '.c', 'text/plain'
union all select '.cab', 'application/octet-stream'
union all select '.calx', 'application/vnd.ms-office.calx'
union all select '.cat', 'application/vnd.ms-pki.seccat'
union all select '.cdf', 'application/x-cdf'
union all select '.chm', 'application/octet-stream'
union all select '.class', 'application/x-java-applet'
union all select '.clp', 'application/x-msclip'
union all select '.cmx', 'image/x-cmx'
union all select '.cnf', 'text/plain'
union all select '.cod', 'image/cis-cod'
union all select '.cpio', 'application/x-cpio'
union all select '.cpp', 'text/plain'
union all select '.crd', 'application/x-mscardfile'
union all select '.crl', 'application/pkix-crl'
union all select '.crt', 'application/x-x509-ca-cert'
union all select '.csh', 'application/x-csh'
union all select '.css', 'text/css'
union all select '.csv', 'application/octet-stream'
union all select '.cur', 'application/octet-stream'
union all select '.dcr', 'application/x-director'
union all select '.deploy', 'application/octet-stream'
union all select '.der', 'application/x-x509-ca-cert'
union all select '.dib', 'image/bmp'
union all select '.dir', 'application/x-director'
union all select '.disco', 'text/xml'
union all select '.dll', 'application/x-msdownload'
union all select '.dll.config', 'text/xml'
union all select '.dlm', 'text/dlm'
union all select '.doc', 'application/msword'
union all select '.docm', 'application/vnd.ms-word.document.macroEnabled.12'
union all select '.docx', 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
union all select '.dot', 'application/msword'
union all select '.dotm', 'application/vnd.ms-word.template.macroEnabled.12'
union all select '.dotx', 'application/vnd.openxmlformats-officedocument.wordprocessingml.template'
union all select '.dsp', 'application/octet-stream'
union all select '.dtd', 'text/xml'
union all select '.dvi', 'application/x-dvi'
union all select '.dwf', 'drawing/x-dwf'
union all select '.dwp', 'application/octet-stream'
union all select '.dxr', 'application/x-director'
union all select '.eml', 'message/rfc822'
union all select '.emz', 'application/octet-stream'
union all select '.eot', 'application/octet-stream'
union all select '.eps', 'application/postscript'
union all select '.etx', 'text/x-setext'
union all select '.evy', 'application/envoy'
union all select '.exe', 'application/octet-stream'
union all select '.exe.config', 'text/xml'
union all select '.fdf', 'application/vnd.fdf'
union all select '.fif', 'application/fractals'
union all select '.fla', 'application/octet-stream'
union all select '.flr', 'x-world/x-vrml'
union all select '.flv', 'video/x-flv'
union all select '.gif', 'image/gif'
union all select '.gtar', 'application/x-gtar'
union all select '.gz', 'application/x-gzip'
union all select '.h', 'text/plain'
union all select '.hdf', 'application/x-hdf'
union all select '.hdml', 'text/x-hdml'
union all select '.hhc', 'application/x-oleobject'
union all select '.hhk', 'application/octet-stream'
union all select '.hhp', 'application/octet-stream'
union all select '.hlp', 'application/winhlp'
union all select '.hqx', 'application/mac-binhex40'
union all select '.hta', 'application/hta'
union all select '.htc', 'text/x-component'
union all select '.htm', 'text/html'
union all select '.html', 'text/html'
union all select '.htt', 'text/webviewhtml'
union all select '.hxt', 'text/html'
union all select '.ico', 'image/x-icon'
union all select '.ics', 'application/octet-stream'
union all select '.ief', 'image/ief'
union all select '.iii', 'application/x-iphone'
union all select '.inf', 'application/octet-stream'
union all select '.ins', 'application/x-internet-signup'
union all select '.isp', 'application/x-internet-signup'
union all select '.IVF', 'video/x-ivf'
union all select '.jar', 'application/java-archive'
union all select '.java', 'application/octet-stream'
union all select '.jck', 'application/liquidmotion'
union all select '.jcz', 'application/liquidmotion'
union all select '.jfif', 'image/pjpeg'
union all select '.jpb', 'application/octet-stream'
union all select '.jpe', 'image/jpeg'
union all select '.jpeg', 'image/jpeg'
union all select '.jpg', 'image/jpeg'
union all select '.js', 'application/x-javascript'
union all select '.jsx', 'text/jscript'
union all select '.latex', 'application/x-latex'
union all select '.lit', 'application/x-ms-reader'
union all select '.lpk', 'application/octet-stream'
union all select '.lsf', 'video/x-la-asf'
union all select '.lsx', 'video/x-la-asf'
union all select '.lzh', 'application/octet-stream'
union all select '.m13', 'application/x-msmediaview'
union all select '.m14', 'application/x-msmediaview'
union all select '.m1v', 'video/mpeg'
union all select '.m3u', 'audio/x-mpegurl'
union all select '.man', 'application/x-troff-man'
union all select '.manifest', 'application/x-ms-manifest'
union all select '.map', 'text/plain'
union all select '.mdb', 'application/x-msaccess'
union all select '.mdp', 'application/octet-stream'
union all select '.me', 'application/x-troff-me'
union all select '.mht', 'message/rfc822'
union all select '.mhtml', 'message/rfc822'
union all select '.mid', 'audio/mid'
union all select '.midi', 'audio/mid'
union all select '.mix', 'application/octet-stream'
union all select '.mmf', 'application/x-smaf'
union all select '.mno', 'text/xml'
union all select '.mny', 'application/x-msmoney'
union all select '.mov', 'video/quicktime'
union all select '.movie', 'video/x-sgi-movie'
union all select '.mp2', 'video/mpeg'
union all select '.mp3', 'audio/mpeg'
union all select '.mpa', 'video/mpeg'
union all select '.mpe', 'video/mpeg'
union all select '.mpeg', 'video/mpeg'
union all select '.mpg', 'video/mpeg'
union all select '.mpp', 'application/vnd.ms-project'
union all select '.mpv2', 'video/mpeg'
union all select '.ms', 'application/x-troff-ms'
union all select '.msi', 'application/octet-stream'
union all select '.mso', 'application/octet-stream'
union all select '.mvb', 'application/x-msmediaview'
union all select '.mvc', 'application/x-miva-compiled'
union all select '.nc', 'application/x-netcdf'
union all select '.nsc', 'video/x-ms-asf'
union all select '.nws', 'message/rfc822'
union all select '.ocx', 'application/octet-stream'
union all select '.oda', 'application/oda'
union all select '.odc', 'text/x-ms-odc'
union all select '.ods', 'application/oleobject'
union all select '.one', 'application/onenote'
union all select '.onea', 'application/onenote'
union all select '.onetoc', 'application/onenote'
union all select '.onetoc2', 'application/onenote'
union all select '.onetmp', 'application/onenote'
union all select '.onepkg', 'application/onenote'
union all select '.osdx', 'application/opensearchdescription+xml'
union all select '.p10', 'application/pkcs10'
union all select '.p12', 'application/x-pkcs12'
union all select '.p7b', 'application/x-pkcs7-certificates'
union all select '.p7c', 'application/pkcs7-mime'
union all select '.p7m', 'application/pkcs7-mime'
union all select '.p7r', 'application/x-pkcs7-certreqresp'
union all select '.p7s', 'application/pkcs7-signature'
union all select '.pbm', 'image/x-portable-bitmap'
union all select '.pcx', 'application/octet-stream'
union all select '.pcz', 'application/octet-stream'
union all select '.pdf', 'application/pdf'
union all select '.pfb', 'application/octet-stream'
union all select '.pfm', 'application/octet-stream'
union all select '.pfx', 'application/x-pkcs12'
union all select '.pgm', 'image/x-portable-graymap'
union all select '.pko', 'application/vnd.ms-pki.pko'
union all select '.pma', 'application/x-perfmon'
union all select '.pmc', 'application/x-perfmon'
union all select '.pml', 'application/x-perfmon'
union all select '.pmr', 'application/x-perfmon'
union all select '.pmw', 'application/x-perfmon'
union all select '.png', 'image/png'
union all select '.pnm', 'image/x-portable-anymap'
union all select '.pnz', 'image/png'
union all select '.pot', 'application/vnd.ms-powerpoint'
union all select '.potm', 'application/vnd.ms-powerpoint.template.macroEnabled.12'
union all select '.potx', 'application/vnd.openxmlformats-officedocument.presentationml.template'
union all select '.ppam', 'application/vnd.ms-powerpoint.addin.macroEnabled.12'
union all select '.ppm', 'image/x-portable-pixmap'
union all select '.pps', 'application/vnd.ms-powerpoint'
union all select '.ppsm', 'application/vnd.ms-powerpoint.slideshow.macroEnabled.12'
union all select '.ppsx', 'application/vnd.openxmlformats-officedocument.presentationml.slideshow'
union all select '.ppt', 'application/vnd.ms-powerpoint'
union all select '.pptm', 'application/vnd.ms-powerpoint.presentation.macroEnabled.12'
union all select '.pptx', 'application/vnd.openxmlformats-officedocument.presentationml.presentation'
union all select '.prf', 'application/pics-rules'
union all select '.prm', 'application/octet-stream'
union all select '.prx', 'application/octet-stream'
union all select '.ps', 'application/postscript'
union all select '.psd', 'application/octet-stream'
union all select '.psm', 'application/octet-stream'
union all select '.psp', 'application/octet-stream'
union all select '.pub', 'application/x-mspublisher'
union all select '.qt', 'video/quicktime'
union all select '.qtl', 'application/x-quicktimeplayer'
union all select '.qxd', 'application/octet-stream'
union all select '.ra', 'audio/x-pn-realaudio'
union all select '.ram', 'audio/x-pn-realaudio'
union all select '.rar', 'application/octet-stream'
union all select '.ras', 'image/x-cmu-raster'
union all select '.rf', 'image/vnd.rn-realflash'
union all select '.rgb', 'image/x-rgb'
union all select '.rm', 'application/vnd.rn-realmedia'
union all select '.rmi', 'audio/mid'
union all select '.roff', 'application/x-troff'
union all select '.rpm', 'audio/x-pn-realaudio-plugin'
union all select '.rtf', 'application/rtf'
union all select '.rtx', 'text/richtext'
union all select '.scd', 'application/x-msschedule'
union all select '.sct', 'text/scriptlet'
union all select '.sea', 'application/octet-stream'
union all select '.setpay', 'application/set-payment-initiation'
union all select '.setreg', 'application/set-registration-initiation'
union all select '.sgml', 'text/sgml'
union all select '.sh', 'application/x-sh'
union all select '.shar', 'application/x-shar'
union all select '.sit', 'application/x-stuffit'
union all select '.sldm', 'application/vnd.ms-powerpoint.slide.macroEnabled.12'
union all select '.sldx', 'application/vnd.openxmlformats-officedocument.presentationml.slide'
union all select '.smd', 'audio/x-smd'
union all select '.smi', 'application/octet-stream'
union all select '.smx', 'audio/x-smd'
union all select '.smz', 'audio/x-smd'
union all select '.snd', 'audio/basic'
union all select '.snp', 'application/octet-stream'
union all select '.spc', 'application/x-pkcs7-certificates'
union all select '.spl', 'application/futuresplash'
union all select '.src', 'application/x-wais-source'
union all select '.ssm', 'application/streamingmedia'
union all select '.sst', 'application/vnd.ms-pki.certstore'
union all select '.stl', 'application/vnd.ms-pki.stl'
union all select '.sv4cpio', 'application/x-sv4cpio'
union all select '.sv4crc', 'application/x-sv4crc'
union all select '.swf', 'application/x-shockwave-flash'
union all select '.t', 'application/x-troff'
union all select '.tar', 'application/x-tar'
union all select '.tcl', 'application/x-tcl'
union all select '.tex', 'application/x-tex'
union all select '.texi', 'application/x-texinfo'
union all select '.texinfo', 'application/x-texinfo'
union all select '.tgz', 'application/x-compressed'
union all select '.thmx', 'application/vnd.ms-officetheme'
union all select '.thn', 'application/octet-stream'
union all select '.tif', 'image/tiff'
union all select '.tiff', 'image/tiff'
union all select '.toc', 'application/octet-stream'
union all select '.tr', 'application/x-troff'
union all select '.trm', 'application/x-msterminal'
union all select '.tsv', 'text/tab-separated-values'
union all select '.ttf', 'application/octet-stream'
union all select '.txt', 'text/plain'
union all select '.u32', 'application/octet-stream'
union all select '.uls', 'text/iuls'
union all select '.ustar', 'application/x-ustar'
union all select '.vbs', 'text/vbscript'
union all select '.vcf', 'text/x-vcard'
union all select '.vcs', 'text/plain'
union all select '.vdx', 'application/vnd.ms-visio.viewer'
union all select '.vml', 'text/xml'
union all select '.vsd', 'application/vnd.visio'
union all select '.vss', 'application/vnd.visio'
union all select '.vst', 'application/vnd.visio'
union all select '.vsto', 'application/x-ms-vsto'
union all select '.vsw', 'application/vnd.visio'
union all select '.vsx', 'application/vnd.visio'
union all select '.vtx', 'application/vnd.visio'
union all select '.wav', 'audio/wav'
union all select '.wax', 'audio/x-ms-wax'
union all select '.wbmp', 'image/vnd.wap.wbmp'
union all select '.wcm', 'application/vnd.ms-works'
union all select '.wdb', 'application/vnd.ms-works'
union all select '.wks', 'application/vnd.ms-works'
union all select '.wm', 'video/x-ms-wm'
union all select '.wma', 'audio/x-ms-wma'
union all select '.wmd', 'application/x-ms-wmd'
union all select '.wmf', 'application/x-msmetafile'
union all select '.wml', 'text/vnd.wap.wml'
union all select '.wmlc', 'application/vnd.wap.wmlc'
union all select '.wmls', 'text/vnd.wap.wmlscript'
union all select '.wmlsc', 'application/vnd.wap.wmlscriptc'
union all select '.wmp', 'video/x-ms-wmp'
union all select '.wmv', 'video/x-ms-wmv'
union all select '.wmx', 'video/x-ms-wmx'
union all select '.wmz', 'application/x-ms-wmz'
union all select '.wps', 'application/vnd.ms-works'
union all select '.wri', 'application/x-mswrite'
union all select '.wrl', 'x-world/x-vrml'
union all select '.wrz', 'x-world/x-vrml'
union all select '.wsdl', 'text/xml'
union all select '.wvx', 'video/x-ms-wvx'
union all select '.x', 'application/directx'
union all select '.xaf', 'x-world/x-vrml'
union all select '.xaml', 'application/xaml+xml'
union all select '.xap', 'application/x-silverlight-app'
union all select '.xbap', 'application/x-ms-xbap'
union all select '.xbm', 'image/x-xbitmap'
union all select '.xdr', 'text/plain'
union all select '.xla', 'application/vnd.ms-excel'
union all select '.xlam', 'application/vnd.ms-excel.addin.macroEnabled.12'
union all select '.xlc', 'application/vnd.ms-excel'
union all select '.xlm', 'application/vnd.ms-excel'
union all select '.xls', 'application/vnd.ms-excel'
union all select '.xlsb', 'application/vnd.ms-excel.sheet.binary.macroEnabled.12'
union all select '.xlsm', 'application/vnd.ms-excel.sheet.macroEnabled.12'
union all select '.xlsx', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
union all select '.xlt', 'application/vnd.ms-excel'
union all select '.xltm', 'application/vnd.ms-excel.template.macroEnabled.12'
union all select '.xltx', 'application/vnd.openxmlformats-officedocument.spreadsheetml.template'
union all select '.xlw', 'application/vnd.ms-excel'
union all select '.xml', 'text/xml'
union all select '.xof', 'x-world/x-vrml'
union all select '.xpm', 'image/x-xpixmap'
union all select '.xps', 'application/vnd.ms-xpsdocument'
union all select '.xsd', 'text/xml'
union all select '.xsf', 'text/xml'
union all select '.xsl', 'text/xml'
union all select '.xslt', 'text/xml'
union all select '.xsn', 'application/octet-stream'
union all select '.xtp', 'application/octet-stream'
union all select '.xwd', 'image/x-xwindowdump'
union all select '.z', 'application/x-compress'
union all select '.zip', 'application/x-zip-compressed'


if object_id('[dbo].[FileResourceMimeTypeFileExtension]') is not null drop table [dbo].[FileResourceMimeTypeFileExtension]
GO

CREATE TABLE [dbo].[FileResourceMimeTypeFileExtension]
(
	FileResourceMimeTypeFileExtensionID [int] NOT NULL identity(1,1),
	FileResourceMimeTypeID int not null,
	BLAH_BLAH_BLAH varchar(max) null,
	[FileResourceMimeTypeFileExtensionText] [varchar](100) NOT NULL
 CONSTRAINT [PK_FileResourceMimeTypeFileExtension_FileResourceMimeTypeFileExtensionID] PRIMARY KEY CLUSTERED 
(
	[FileResourceMimeTypeFileExtensionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_FileResourceMimeTypeFileExtension_FileResourceMimeTypeFileExtensionText] UNIQUE NONCLUSTERED 
(
	[FileResourceMimeTypeFileExtensionText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[FileResourceMimeTypeFileExtension]  WITH CHECK ADD  CONSTRAINT [FK_FileResourceMimeTypeFileExtension_FileResourceMimeType_FileResourceMimeTypeID] 
FOREIGN KEY([FileResourceMimeTypeID])
REFERENCES [dbo].[FileResourceMimeType] ([FileResourceMimeTypeID])
GO


--select frmt.FileResourceMimeTypeID, x.FileExtension
--from dbo.FileResourceMimeType as frmt
--left join #mimeFileExtension x on frmt.FileResourceMimeTypeContentTypeName = x.mimetype
--where x.FileExtension is not null
--order by frmt.FileResourceMimeTypeID

insert into dbo.FileResourceMimeTypeFileExtension (FileResourceMimeTypeID, FileResourceMimeTypeFileExtensionText)
select frmt.FileResourceMimeTypeID, x.FileExtension
from dbo.FileResourceMimeType as frmt
left join #mimeFileExtension x on frmt.FileResourceMimeTypeContentTypeName = x.mimetype
where x.FileExtension is not null
--order by frmt.FileResourceMimeTypeID


--select * from dbo.FileResourceMimeTypeFileExtension

if object_id('tempdb.dbo.#mimeFileExtension') is not null drop table #mimeFileExtension

--rollback tran