--select * from dbo.TreatmentActivity

ALTER TABLE dbo.TreatmentActivity
  ADD GrantAllocationProgramIndexProjectCodeID int constraint FK_TreatmentActivity_GrantAllocationProgramIndexProjectCode_GrantAllocationProgramIndexProjectCodeID references dbo.GrantAllocationProgramIndexProjectCode(GrantAllocationProgramIndexProjectCodeID);