@inherits ProjectFirma.Web.Views.DNRUplandRegion.MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>@ViewDataTyped.DNRUplandRegionLabel</strong></div>
    <div class="col-xs-8">@ViewDataTyped.RegionDetailLink</div>
</div>
