@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views

@inherits ProjectFirma.Web.Views.Shared.ProjectCostShare.ProjectCostShare


<ul>
    @foreach (var link in ViewDataTyped.CostShareAgreementLinks)
    {
        <li>@link</li>
    }
</ul>