@*-----------------------------------------------------------------------
    <copyright file="EditProject.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.Models
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.ProgramIndex
@using ProjectFirma.Web.Views.ProjectCode
@inherits ProjectFirma.Web.Views.GrantAllocation.GrantAllocationBudgetLineItems

<script>
    jQuery(function () {
        jQuery('.ajax-field').on('change', function (evt) {
            evt.preventDefault();
            var formData = {
                GrantAllocationID: 245,
                LineItemAmount: 5.00,
            LineItemNote : "This is a note",
            GrantAllocationBudgetLineItemID : 1,
            CostTypeID : 3}

            jQuery.post('@ViewDataTyped.FormPostUrl', formData, function () {
                alert('Posted using jQuery');
            });
        });
    });
</script>



<div class="row">
    <div class="col-sm-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                <h3>
                    @FieldDefinition.GrantAllocationBudgetLineItem.GetFieldDefinitionLabelPluralized()
                </h3>
            </div>
            <div class="panel-body">
                <form id="budgetLineItemForm">
                    <button id="submit">Test</button>
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @FieldDefinition.CostType.GetFieldDefinitionLabel()
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th>
                                    Note
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var costType in ViewDataTyped.CostTypes)
                            {
                                <tr>
                                    <th scope="row">@costType.CostTypeDisplayName</th>
                                    <td><input class="ajax-field" type="number" step=".01" /></td>
                                    <td><input type="text" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
