@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Account.Login
@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <img src="../../Content/img/wadnr-logo.jpg" class="img-responsive" alt="WA DNR Logo" style="height: 80px;"/>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 text-left">
                            <h4>Log in with WA DNR Account</h4>
                            <p class="text-muted">Use you Active Directory credentials to log into the Forest Health Tracker. Only state employees have Active Directory accounts. If you are a member of the public, log in with SecureAccess Washington.</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <a href="@ViewDataTyped.ADFSLoginUrl.AbsoluteUri" class="btn btn-firma btn-lg">Log In with WA Account</a>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <img src="../../Content/img/SAW-logo.jpg" class="img-responsive" alt="SecureAccess WA Logo" style="height: 80px;" />
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-9 text-left">
                            <h4>Log in with SecureAccess Washington</h4>
                            <p class="text-muted">Use a SecureAccess Washington (SAW) account to log into the Forest Health Tracker. SAW is a central login that lets you access the online services of multiple state agencies. Don't have an account? <a href="@ViewDataTyped.SAWLoginUrl">Sign up here</a>.</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <a href="@ViewDataTyped.SAWLoginUrl.AbsoluteUri" class="btn btn-firma btn-lg">Log In with SecureAccess WA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>