@*-----------------------------------------------------------------------
    <copyright file="FundSourceAllocationBudgetVsActuals.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Security
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.FundSourceAllocation
@using ProjectFirma.Web.Views.Shared.FundSourceAllocationControls
@using ProjectFirma.Web.Views.Shared.TextControls

@inherits ProjectFirma.Web.Views.FundSourceAllocation.FundSourceAllocationBudgetVsActuals



<div class="row">
    <div class="col-sm-12">
        <div class="panel panelFirma">
            <div class="panel-heading panelTitle">
                Budget Vs Actuals
            </div>
            <div class="panel-body">
                @Html.AgGrid(ViewDataTyped.FundSourceAllocationBudgetVsActualsGridSpec, ViewDataTyped.FundSourceAllocationBudgetVsActualsGridName, ViewDataTyped.FundSourceAllocationBudgetVsActualsGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit)
            </div>
        </div>
    </div>
</div>
