@*-----------------------------------------------------------------------
    <copyright file="Treatments.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared.ProjectPerson
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.ProjectUpdate.Treatments

@section JavascriptAndStylesContent
{

    @{ AgGridIncludes.RenderPartialView(Html); }

}
<div class="row">
    <div class="col-xs-12">
        <div class="panel-body" id="treatmentGridNonFlattened">
            @Html.AgGrid(ViewDataTyped.TreatmentUpdateGridSpec, ViewDataTyped.TreatmentUpdateGrid, ViewDataTyped.TreatmentUpdateGridDataUrl, "height:300px", AgGridResizeType.VerticalResizableHorizontalAutoFit)
        </div>
    </div>
</div>

@if (@ViewDataTyped.IsEditable)
{
    <hr />
    <div class="row">
        <div class="col-sm-5">
            @ModalDialogFormHelper.ModalDialogFormLink("revert-button", "Revert Current Page", ViewDataTyped.RefreshUrl, "Refresh this section", 500, "Continue", "Continue", "Cancel", new List<string> { "btn btn-xs btn-firma" }, null, null, null, "Undo all changes on this page", false)
        </div>
        <div class="col-sm-7 text-right">
            <a href="@ViewDataTyped.ContinueUrl" title="Save changes and continue to next page" class="btn btn-xs btn-firma">Save &amp; Continue<span class='glyphicon glyphicon-chevron-right'></span></a>
        </div>
    </div>
}


