@if (county$ | async; as county) {
<breadcrumb [items]="[{ label: 'Counties', url: '/counties' }, { label: county.CountyName }]" [linkLast]="false"></breadcrumb>
<page-header pageTitle="{{ county.CountyName }} County"> </page-header>
<div class="grid-12">
    @if (showBasics$ | async) {
        <div class="g-col-6">
            <div class="card">
                <div class="card-header flex-between">
                    <span class="card-title">Basics</span>
                    @if ((canEdit$ | async) && !(isEditing$ | async)) {
                        <button type="button" class="card-header-edit-link" (click)="enterEdit(county.CountyContent)" title="Edit Basics">
                            <icon icon="Edit"></icon>
                        </button>
                    }
                </div>
                <div class="card-body">
                    @if (isEditing$ | async) {
                        <editor #tinyMceEditor [init]="tinyMceConfig" [(ngModel)]="editedContent"></editor>
                        <div class="flex-end mt-3">
                            <button type="button" class="btn btn-primary mr-2" [buttonLoading]="isSaving$ | async" (click)="saveEdit(county.CountyID)">Save</button>
                            <button type="button" class="btn btn-secondary-outline" (click)="cancelEdit()">Cancel</button>
                        </div>
                    } @else {
                        <div [innerHTML]="countyContentSafeHtml$ | async"></div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="g-col-6">
        <div class="card">
            <div class="card-header"><span class="card-title">Map</span></div>
            <div class="card-body">
                <p>This map displays the location of any Projects associated with this County.</p>
                <wadnr-map [mapHeight]="'400px'" [selectedTileLayer]="'Terrain'" [showLegend]="false" (onMapLoad)="handleMapReady($event)">
                    <external-map-layers [map]="map" [layerControl]="layerControl" [context]="'other'" [displayOnLoad]="false"></external-map-layers>
                    @if (projectFeatures$ | async; as projectFeatures) {
                    <generic-feature-collection-layer [map]="map" [layerControl]="layerControl" [featureCollection]="projectFeatures" [layerName]="'Project Locations'" [layerColor]="'#3388ff'" [identifierProperty]="'ProjectID'" [selectOnClick]="true" [sortOrder]="MapLayerSortOrder.ProjectLocations" [displayOnLoad]="true"
                        [popupContentFn]="buildProjectPopupContent(county)"></generic-feature-collection-layer>
                    }
                    <counties-layer [map]="map" [layerControl]="layerControl" [selectedIDs]="[county.CountyID]" [mode]="highlightedCountyLayerMode"></counties-layer>
                    <counties-layer [map]="map" [layerControl]="layerControl" [mode]="allCountiesLayerMode" [sortOrder]="MapLayerSortOrder.County" [fitBoundsOnWmsAddToControl]="false"></counties-layer>
                    <priority-landscapes-layer [map]="map" [layerControl]="layerControl" [mode]="OverlayMode.ReferenceOnly" [sortOrder]="MapLayerSortOrder.PriorityLandscape" [displayOnLoad]="false" [fitBoundsOnWmsAddToControl]="false"></priority-landscapes-layer>
                    <dnr-upland-regions-layer [map]="map" [layerControl]="layerControl" [mode]="OverlayMode.ReferenceOnly" [sortOrder]="MapLayerSortOrder.DNRUplandRegion" [displayOnLoad]="false" [fitBoundsOnWmsAddToControl]="false"></dnr-upland-regions-layer>
                </wadnr-map>
                <p>Projects can be associated with multiple Counties, but are mapped in a single location. Therefore some Projects may appear outside of the County boundary.</p>
            </div>
        </div>
    </div>
    <div class="g-col-12">
        <div class="card">
            <div class="card-header"><span class="card-title">Projects</span></div>
            <div class="card-body" [loadingSpinner]="{ isLoading: projectsIsLoading$ | async, loadingHeight: 300 }">
                <wadnr-grid [rowData]="projects$ | async" [columnDefs]="columnDefs" [pinnedTotalsRow]="pinnedTotalsRow" [downloadFileName]="'projects'" fullscreenTitle="Projects"></wadnr-grid>
            </div>
        </div>
    </div>
</div>
} @else {
    <div [loadingSpinner]="{ isLoading: true, loadingHeight: 400 }"></div>
}
