@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views.PriorityLandscape

@inherits MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>@FieldDefinition.PriorityLandscape.GetFieldDefinitionLabel()</strong></div>
    <div class="col-xs-8">@ViewDataTyped.PriorityLandscapeDetailLink</div>
</div>
