@*-----------------------------------------------------------------------
    <copyright file="ProjectInvoiceDetail.cshtml" company="Tahoe Regional Planning Agency & Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency & Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using LtInfo.Common
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Views
@inherits ProjectFirma.Web.Views.ProjectInvoice.ProjectInvoiceDetail


<div>
    <div class="pull-right">
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add {1}", FirmaDhtmlxGridHtmlHelpers.PlusIcon, FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), ViewDataTyped.AddInvoicePaymentRequestUrl, string.Format("Create New {0}", FieldDefinition.InvoicePaymentRequest.GetFieldDefinitionLabel()), new List<string>{"btn", "btn-firma", "btn-sm"}, ViewDataTyped.CanEditInvoicePaymentRequests)
    </div>

    @if (ViewDataTyped.InvoicePaymentRequests.Any())
    {

        foreach (var invoicePaymentRequest in ViewDataTyped.InvoicePaymentRequests.OrderByDescending(x => x.InvoicePaymentRequestDate))
        {
            @invoicePaymentRequest.Notes
        }

    }
    
    
</div>
