@inherits ProjectFirma.Web.Views.County.MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>@ViewDataTyped.CountyLabel</strong></div>
    <div class="col-xs-8">@ViewDataTyped.CountyDetailLink</div>
</div>
