@using ProjectFirma.Web.Views.Region

@inherits MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>Region</strong></div>
    <div class="col-xs-8">@ViewDataTyped.RegionDetailLink</div>
</div>
